body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #756234;
}

header {
    padding: 30px;
    background-image: linear-gradient(to right, #D4A373, #FAEDCD, #FEFAE0);
    color: white;
}

footer {
    background-image: linear-gradient(#E9EDC9, white)
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #683a0b;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    border: solid #D4A373;
}